@charset "UTF-8";

/* typical device breakpoints
----------------------------

pequenas telas (celulares): até 600px
telas médias (tablets): 768px a 992px
telas grandes (desktops): 992px a 1200px
telas extra grandes (monitores grandes): 1200px ou mais

*/

@media screen and (min-width: 768px) and (max-width:992px){
    section#login{
        width: 90vw ;
        height: 550px;
    }
    section#login div#imagem{
       float: left;
    }
    section#login div#formulario{
        float: right;
        width: 50%;
    }
}
