@charset "UTF-8";

/*
paleta de cores
| Uso              | Cor               | Código    |
| ---------------- | ----------------- | --------- |
| Fundo principal  | Azul bem escuro   | `#0D1B2A` |
| Fundo secundário | Azul escuro       | `#1B263B` |
| Card login       | Azul médio escuro | `#415A77` |
| Botão principal  | Azul destaque     | `#1D4ED8` |
| Botão hover      | Azul mais forte   | `#1E40AF` |
| Texto principal  | Branco azulado    | `#E0E1DD` |
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
   margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #0D1B2A;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    /* Centraliza o card de login na tela */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    /* Estiliza o card de login */
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.568) ;


    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;

}

section#login div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/login-image.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: bottom;
    
  
}
section#login div#formulario{
    display: block;
   padding: 10px;
}

div#formulario h1{
    color: #1D4ED8;
    text-align: center;
    margin-bottom: 10px;
}
div#formulario p{
   font-size: 0.8em;
}

div#formulario input{
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #E0E1DD;
}
input#submit{
    background-color: #1D4ED8;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}   