@charset "UTF-8";

/*
paleta de cores
| Uso              | Cor               | Código    |
| ---------------- | ----------------- | --------- |
| Fundo principal  | Azul bem escuro   | `#0D1B2A` |
| Fundo secundário | Azul escuro       | `#1B263B` |
| Card login       | Azul médio escuro | `#415A77` |
| Botão principal  | Azul destaque     | `#1D4ED8` |
| Botão hover      | Azul mais forte   | `#1E40AF` |
| Texto principal  | Branco azulado    | `#E0E1DD` |
*/


